/* 全局样式设置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #ECE0D4; /* 莫兰迪色系背景色示例 */
  color: #444444; /* 文字颜色 */
}

header {
  background-color: #C7B5A8; /* 头部背景色示例 */
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  color: #333333;
}

main {
  padding: 20px;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
}

footer {
  background-color: #C7B5A8;
  text-align: center;
  padding: 10px;
  color: pink;
}
.top-nav {
  background: #D9CEE5; /* 莫兰迪色系的浅紫色背景色示例 */
  padding: 1rem;
}
.top-nav a {
  color: #9F8CC1; /* 深灰色的文字颜色，更柔和 */
  text-decoration: none;
  margin-right: 2rem;
}
